body{
    background-image: radial-gradient(#6A9AC2, #3AAFA9); 
    background-repeat: repeat-y;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: rgb(245, 245, 245);
}

.bg{
    background-image: url(images/newHorizonsBackground.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page{
    font-size: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 1000px;
    padding-left: 20%;
    padding-right: 20%;
}

header{
    font-size: 10px;
    line-height: 48px;
}

h1 {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    color: #deeed6; 
    position: absolute;
    opacity: 70%;
    left: 35%;
    top: 30%;
    
}

.fade-in {

    animation: fadeIn ease 3s;
    opacity:70%;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    15%{
        opacity:0;
    }
    100% {
      opacity:70%;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    15%{
        opacity:0;
    }
    100% {
      opacity:70%;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    15%{
        opacity:0;
    }
    100% {
      opacity:70%;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    15%{
        opacity:0;
    }
    100% {
      opacity:70%;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    15%{
        opacity:0;
    }
    100% {
      opacity:70%;
  }
}


.fade-in2 {
    
    animation: fadeIn2 ease 6s;
    opacity: 70%;
    -webkit-animation: fadeIn2 ease 6s;
    -moz-animation: fadeIn2 ease 6s;
    -o-animation: fadeIn2 ease 6s;
    -ms-animation: fadeIn2 ease 6s;
  }
  @keyframes fadeIn2 {
    
    0% {
      opacity:0;
    }
    33%{
        opacity: 0;
    }
    100% {
      opacity:70%;
    }
  }
  
  @-moz-keyframes fadeIn2 {
    0% {
      opacity:0;
    }
    33%{
        opacity: 0;
    }
    100% {
      opacity:70%;
    }
  }
  
  @-webkit-keyframes fadeIn2 {
    0% {
      opacity:0;
    }
    33%{
        opacity: 0;
    }
    100% {
      opacity:70%;
    }
  }
  
  @-o-keyframes fadeIn2 {
    0% {
      opacity:0;
    }
    33%{
        opacity: 0;
    }
    100% {
      opacity:70%;
    }
  }
  
  @-ms-keyframes fadeIn2 {
    0% {
        opacity:0; 
    }
    33%{
        opacity: 0;
    }
    100% {
      opacity:70%;
  }
}

.fade-in3 {
    
    animation: fadeIn3 ease 6s;
    
    -webkit-animation: fadeIn3 ease 6s;
    -moz-animation: fadeIn3 ease 6s;
    -o-animation: fadeIn3 ease 6s;
    -ms-animation: fadeIn3 ease 6s;
  }
  @keyframes fadeIn3 {
    
    0% {
      opacity:0;
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn3 {
    0% {
      opacity:0;
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn3 {
    0% {
      opacity:0;
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn3 {
    0% {
      opacity:0;
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn3 {
    0% {
        opacity:0; 
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:1;
  }
}
.fade-in4 {
    
    animation: fadeIn4 ease 6s;
    
    -webkit-animation: fadeIn4 ease 6s;
    -moz-animation: fadeIn4 ease 6s;
    -o-animation: fadeIn4 ease 6s;
    -ms-animation: fadeIn4 ease 6s;
  }
  @keyframes fadeIn4 {
    
    0% {
      opacity:0;
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:70%;
    }
  }
  
  @-moz-keyframes fadeIn4 {
    0% {
      opacity:0;
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:75%;
    }
  }
  
  @-webkit-keyframes fadeIn4 {
    0% {
      opacity:0;
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:75%;
    }
  }
  
  @-o-keyframes fadeIn4 {
    0% {
      opacity:0;
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:75%;
    }
  }
  
  @-ms-keyframes fadeIn4 {
    0% {
        opacity:0; 
    }
    66%{
        opacity: 0;
    }
    100% {
      opacity:75%;
  }
}





h2 {
    color: #c6dfa6;
    font-size: 30px;
    font-family: 'Turret Road', cursive;
    margin: 0px 0px 0px 0px;
    position: sticky;
    top: 0;
    padding-left: 80%;
    text-align:center;
}



#clock{
    font-size: 40px;
}

.clock{
    font-size: 100px;
}

:root {
    --mainColor: #f2f2f2;
}

h3 {
    color: #05386B;
    
    
    
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

h3.topLinks {
    background:
       linear-gradient(
         to bottom, #3AAFA9 25%,
         #3AAFA9 100%
       );
    background-color: #deeed6;
    background-position: 0px 50%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
    border-radius: 15%; 
    box-shadow: 3px 3px 3px rgb(42, 97, 88);
    display: inline;
    font-family: 'Dosis', sans-serif;
    padding-bottom: 1%;
    padding-left: 69%;
    padding-right: 5%;
    padding-top: 3%;
    
    text-decoration: none;
    transition: background-size 1.2s; 
    width: 20%; 
    word-spacing: 1em; 
    z-index: 2;
  }

h3.topLinks:hover {
    background-size: 1% 110%;
    border-radius: 15%;  
  }

h3.a, a:link, a:visited{
    color: #05386B; 
    text-decoration: none; 
    transition: color 2.5s; 
}

a:hover{
    color: #deeed6; 
    transition: color .5s; 
    
}

.container{
    margin-top: -30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px; 
    width: 300px;
    border-color #1995ad;
    border-width: 2px;
    border-radius: 50%;
}

img.contactLinks{
    
    display: block;
    length : 20%;
    margin-left: auto;
    margin-right: auto;
    
    width : 10%;
    
}

#mailOnHover .text{
    position: fixed;
    bottom: 80%;
    left: 45%;
    visibility: hidden;
}

#mailOnHover:hover .text{
    visibility: visible; 
}

img.toHome{
    border-radius: 50%;
    width: 2%;
    height 2%; 
    position: fixed;
    left: 5%;
    bottom: 96.35%; 
}
img.toHomeSig{
    border-radius: 10%;
    width: 10%;
    height: 4%; 
    position: fixed;
    left: 7%;
    bottom: 96.25%;  
}

img.homeImg1{
    border-radius: 30%;
    left: 5%;
    opacity: 70%;
    position: absolute;
    height:30%;
    width:auto;
    top: 20%;
    z-index: -1;
}

img.homeImg2{
    border-radius: 30%;
    left: 80%;
    opacity: 70%;
    position: absolute;
    height:30%;
    width:auto;
    top: 30%;
    z-index: -1;
}
img.homeImg3{
    border-radius: 30%;
    left: 28%;
    opacity: 70%;
    position: absolute;
    height:30%;
    width:auto;
    top: 27%;
    z-index: -1;
}
img.homeImg4{
    border-radius: 30%;
    left: 15%;
    opacity: 70%;
    position: absolute;
    height:30%;
    width: 14.75%;
    top: 55%;
    z-index: -1;
}
img.homeImg5{
    border-radius: 30%;
    left: 65%;
    opacity: 70%;
    position: absolute;
    height:30%;
    width:14.75%;
    top: 65%;
    z-index: -1;
}

img.faded{
    opacity:70%;
}

#berksOnHover .text{
    position: fixed;
    bottom: 80%;
    left: 45%;
    visibility: hidden;
}

#berksOnHover:hover .text{
    visibility: visible; 
}



